<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="hero is-success is-halfheight">
      <div class="hero-body">
        <div class="">
          <p class="title">The secret page</p>
          <p class="subtitle">This page shlould be login </p>
          <p class="subtitle">Welcome user: <br>{{ user_info.profile_name }}</p>
          <button class="button is-light" onclick="window.location.href = '/';">Back</button>
        </div>
      </div>
    </section>
    <br>
    

  </body>
</html>
